program: |
  fn test_function() : int {
      return 4;
  }
link_with:
  - tests/files/support/support.c 
callable: test_function
returns: int
expect_stdout: |
  4
expect_stderr: |
  this will fail the test, because no stderr will be produced

