program: |
  fn main() : int {
      return 4;
  }
link_with:
  - tests/files/support/support.c 
expect_compile_failure: false
expect_stdout: |
  this will fail as no stdout will be produced
expect_stderr: |
  this will also fail the test, because no stderr will be produced

